.row
	.col-xs-4.col-sm-2.col-md-1.col-lg-1
		ユーザ名
	.col-xs-4.col-sm-2.col-md-1.col-lg-1
		aaa
.row
	.col-xs-4.col-sm-2.col-md-1.col-lg-1
		パスワード
	.col-xs-4.col-sm-2.col-md-1.col-lg-1
		bbb
.row
	.span12
		%submit(text="Get in Work!")