【要確認】このタスクには既に登録済みのデータがあります．

%form#annotation_completion{:action => '/annotation', :method => 'post'}
	%fieldset
		%input{:type => "hidden", :name => "overwrite", :value=>'any_value'}
		- @new_inputs.each do |key,val|
			%input{:type => "hidden", :name => key, :value => val}
		%button.btn.btn-warning.breakable_link.timer-hide.skip{:type=>"button"} 前の入力を保持する
		%button.btn.btn-success.breakable_link.timer-hide.go_to_next{:type=>"submit"} 上書きして次へ