【要確認】このタスクには既に登録済みのデータがあります．

%form#annotation_completion{:action => '/annotation', :method => 'post'}
	%fieldset
		%input{:type => "hidden", :name => "overwrite", :value=>'any_value'}
		- @new_inputs.each do |key,val|
			%input{:type => "hidden", :name => key, :value => val}
		%input#go_to_next{:type => "submit", :value=>"上書きする"}
%form{:action => '/task', :method => 'get'}
	%input#keep_old{:type => "submit", :value=>"前の入力を保持する"}
