%link{:rel=>"stylesheet", :href=>"http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"}
.form.col-lg-12
	%form#annotation_completion{:action => '/annotation', :method => 'post'}
		.col-lg-12
			以下のいずれかに該当する物体を全て四角で囲って下さい．
			%ol
				%li 左の画像に存在する物体のうち，机に置かれているもので，かつ，右の画像で人の手に取られているもの
				%li 右の画像に存在する物体のうち，机に置かれているもので，かつ，左の画像の同じ位置には存在しないもの	
				%li 水道のタップで，動かされたと判断されるもの（水を流し始めた→右，水を止めた→左，どうしてもわからない→右，を囲む）
			上記に該当するものが一つもない場合は，そのまま「次へ」進んでください．
			%br
			判断に困る場合，担当者を読んで意見を仰いでください．担当者が不在の場合は「スキップ」してください．
		.no-padding.col-lg-12
			#diff_slider.float-left.vertical_slidebar{:style=>"height:#{@meta_tags[:image_height]-10}px;"}
			%canvas#img-before{:width=>@meta_tags[:image_width], :height=>@meta_tags[:image_height], :type=>'taken'}"}
			%canvas#img-after{:width=>@meta_tags[:image_width], :height=>@meta_tags[:image_height], :type=>'put'}"}
			%br
			%button.btn.btn-default#btn-raw_image{:type=>'button'} 画像全体を表示
			%button.btn.btn-default#btn-mask_image{:type=>'button'} 検出された物体領域のみを表示
			%br
			%br
		.no-padding.col-lg-12
			%fieldset
				%textarea#annotation.full-width{ :rows=>'3', :name=>'annotation', :readonly=>true}
				%button.btn.btn-default.reset_canvas{:type=>'button'} 入力内容をリセット
				- unless @meta_tags.include?(:inv)
					/ %a{:href=>"/task/task1_inv/#{@meta_tags[:blob_id]}"}
					/	%button.btn.btn-default#put_taken_inv.breakable_link{:type=>'button'} 置かれた⇔取られた
				= haml :'common_parts/annotation_submit'
%script(src="/js/jcanvas.min.js")
%script(src="http://code.jquery.com/ui/1.9.2/jquery-ui.js")
%script(src="/js/task1.js")