- [:_id, :worker, :task, :blob_id, :start_time, :min_work_time].each do |key|
	%input{:type => "hidden", :name => key, :value => @meta_tags[key]}
- unless "rest" == @meta_tags[:task] 
	%button.btn.btn-warning.breakable_link.timer-hide.skip{:type=>"button"} スキップ
%button.btn.btn-success.breakable_link.timer-hide.go_to_next{:type=>"submit"} 次へ