$base_col: #858EFF;
$base_col2: #3F48B2;
$no_color: #000000;
$accent_col: #FFE585;
$accent_col2: #B29939;
$text_col_light: #ffffff;

$header_height: 50px;


$text-height: 19px;

$margin-vert: 10px;
$margin-side: 10px;

$padding-vert: 5px;
$padding-side: 5px;

html,body{
	height: 100%;
}

/* body */
body{
	background-color: $no_color;

	/* common for .container */
	.container{
		width:100%;
	}

	/* Header */
	.navbar{
		height:5%;
		background: $no_color;
		border:0;
		p.navbar-text{
			color: $text_col_light !important;
		}

		.navbar-inner{
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			/* Safari,Google Chrome用 */
			-webkit-border-bottom-right-radius: 10px;
			-webkit-border-bottom-left-radius: 10px;
			/* Firefox用 */
			-moz-border-radius-bottomright: 10px;
			-moz-border-radius-bottomleft: 10px;
		}
		.dropdown-toggle{
			height:$header_height;
		}
	}
	
	/* Footer */
	footer{
		padding-top: $padding-vert;
		padding-bottom: $padding-vert;
		height:5%;
		color: $text_col_light;
	}

	section.main{	
		margin-top: $header_height;
		min-height:90%;

		/* Common */
		.main_field{
			padding-top: $padding-vert;
			padding-bottom: $padding-vert;
			padding-left: $padding-side;
			padding-right: $padding-side;

			background-color: $base_col;
			height:100%;

			.timer-hide{
				display:none;
			}
		}

		.left_side{
			padding-top: $padding-vert;
			padding-bottom: $padding-vert;
			padding-left: $padding-side;
			padding-right: $padding-side;
			
			color: $text_col_light;

			background-color: $base_col2;
			height:100%;

			.timer{
				width: 100%;
				height: $text-height;
				background-color: $base_col2;
				border:0;
			}
		}
		.no-padding{
			padding: 0 0 0 0;
		}
		.no-margin{
			margin: 0 0 0 0;
		}

        table.progress_table{
          width: 100%;
          th{
            text-align:center;
          }
          td,tr,th{
            border: 1px $base_col2 solid;
          }
          td.number{
            text-align:right;
          }

        }

	}

	/* その他 */
	.full-width{
		width: 100%;
	}
	.width80{
		width:25%;
	}
	.full-height{
		height: 100%;
	}

	.float-left{
		float:left;
	}
	.margin-right{
		margin-right: $margin-side;
	}
	.vertical_slidebar{
		margin-top: $margin-vert;
		margin-right: $margin-side;
		float: left;
	}

	/* Task 1 */
	canvas.clickable{
		border: 2px solid red;
	}

	/* portamento.js */
	#portamento_container {
		float:right; 
		position:relative;
	}

	#floating_sidebar {
		float:none; 
		position:fixed;
	}

	.fixed {
		position:fixed;
	}
	.bg-base-color2{
		background-color:$base_col2;
	}
	.scrollable{
		overflow:scroll;
	}
	.round-border{
		border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
		padding: 10px 10px 10px 10px;
	}
	.white, .white a {
		color: #fff;
	}

	.task2select{
		width: 100%;
	}

	/*** task4 ***/
	.task4_segment{
		table{
			width: 100%;
			tr{
				td{
					width: 25%;
					padding: 10px;
					video{
						width:100%
					}
					.select2-container{
						width:100%;
					}
				}
			}
		}
	}
	.task4_current_segment{
		background-color: $accent_col;
	}
    .focus{
        background-color: $accent_col;
    }
    hr {
      height: 0px;
      border: solid;
      border-width: 1px;
      color: $base_col2;
      margin-top: 0px;
      margin-bottom: 0px;
    }



}

